
/* CSS RESET */

*, 
*::before, 
*::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* CUSTOM PROPERTIES */

  :root {
    --clr-primary: hsl(141, 73%, 42%);
    --clr-bg: hsl(0, 11%, 9%);
    --clr-text: hsl(0, 0%, 100%);
  }


/* GENERAL STYLING */

.flow {
    --flow-space: .8rem;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-text);
  }

  .album {
    width: min(100% - 2rem, 40rem);
    margin-inline: auto;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .album__info {
    text-align: center;
  }

  .main__album__image {
    margin-inline: auto;
    border-radius: 10px;
  }

  .album__heading {
    font-size: clamp(1.5rem, 1rem + 2.5vw, 2.5rem);
  }

  .main__artist__title {
    --flow-space: .4rem;
    font-size: clamp(1.1rem, 0.65rem + 2.25vw, 2rem);
  }

  .icon-wrapper {
    --flow-space: 2rem;
    background-color: var(--clr-primary);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: auto;
  }

  .song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    text-transform: capitalize;
  }

  .song__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .song__image-wrapper {
    width: 2.5em;
    aspect-ratio: 1;
  }

  .song__image {
    border-radius: 2px;
  }

  .song__title {
    color: var(--clr-primary);
    margin-block-end: 2px;
    font-size: clamp(0.625rem, 0.18rem + 2.18vw, 1.5rem);
  }

  .artist__title {
    font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.125rem);
  }
  